#
# Sistema operativo
#
applet/
*.DS_Store

# Prerrequisitos
*.d

# Archivos de objetos compilados
*.slo
*.lo
*.o
*.obj

# Encabezados precompilados
*.gch
*.pch

# Bibliotecas dinámicas compiladas
*.so
*.dylib
*.dll

# Archivos de módulos Fortran
*.mod
*.smod

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app

# Archivos del sistema
.DS_Store
